body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


nav {
  background-color: #007bff;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.text-2xl{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #007bff;
}

.auth-card {
  max-width: 400px;
  width: 100%;
  margin: 60px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}


.auth-card input {
  width: 100%;
  padding: 12px 0px 12px 5px; 
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}


.auth-card input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.auth-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background-color: #0056b3;
}

.auth-card p {
  margin-top: 15px;
  font-size: 14px;
}

.auth-card a {
  color: #007bff;
  text-decoration: none;
}

.auth-card a:hover {
  text-decoration: underline;
}